$lake-view-1: url='{{url_for('static', filename='/images/home.jpg')}}';

$fishing-large-1: url('../../images/fishingmain.jpg');

$google-map: url('../../images/af-google-map.jpg');

$lodges-ext-1: url('../../images/dscf5207.jpg');

$lodges-ext-front: url('../../images/DSCF5209.jpg');

$roughlands-ext-1: url('../../images/roughlands/roughlands2010.jpg');

$street-ext-1: url('../../images/65street.jpg');

$spring-cott-ext-1: url('../../images/old_brochure/spring2.jpg');

// $OF-flat-1: //

$fishing-tackle: url('../../images/DSCF5244');

$logo: url('../../images/logo/AF-logo-v1.jpg');