/* Coolors Exported Palette - coolors.co/2c5134-4e535b-a4c1a4-d8dad3-eeffe0 */

/* HSL 
$af-dark-green: hsla(133%, 30%, 25%, 1);
$af-dark-grey: hsla(217%, 8%, 33%, 1);
$af-light-green: hsla(120%, 19%, 70%, 1);
$af-light-grey: hsla(77%, 9%, 84%, 1);
$pale: hsla(93%, 100%, 94%, 1);
*/

/* RGB */
$af-dark-green: rgba(44, 81, 52, 1);
$af-dark-grey: rgba(78, 83, 91, 1);
$af-light-green: rgba(164, 193, 164, 1);
$af-light-grey: rgba(216, 218, 211, 1);
$pale: rgba(238, 255, 224, 1);

$af-light-green-trans: rgba(164, 193, 164, 0.75);