{% extends "property_template.html" %}

{% block header_img %} street-cover
{% endblock %}

{% block property_img1 %}
"{{url_for('static', filename="img/Lodges/living_area.jpg") }}"
{% endblock %}

{% block property_img2 %}
"{{url_for('static', filename="img/Lodges/dining_area.jpg") }}"
{% endblock %}

{% block title %} 
65 the Street - Ashby Farms
{% endblock %}

{% block property_name %}
65 The Street
{% endblock %}

{% block property_description %} 
Get a taste of village life with this semi-detached home right in the middle of the picturesque village of Appledore. Small but perfectly formed, its main street lined with period buildings has everything you need; a village shop, tearoom and local pub with hops hanging from the rafters.<br>
The property has one double bedroom, one twin and a single, a fully-equipped kitchen, bathroom and a spacious living room.<br>
65 the Street a homely feel which makes them ideal for a longer stay. Perhaps while moving home. You can find out more about options for long lets <a>here</a>.

{% endblock %}

{% block property_sleeps %} 
5
{% endblock %}

{% block property_beds %}
3 – one double, one twin and a single
{% endblock %}

{% block amenities %}
•	Garden
•	Fully equipped kitchen
•	Washing machine
•	Television
•	Hairdryer?
•	Bath

{% endblock %}

{% block property_location %}
The property is situated on the main street in the peaceful village of Appledore with a village shop nearby and traditional pub The Black Lion. It is a perfect base for exploring the beautiful Kent and East Sussex countryside, exploring the Cinque Port town of Rye or a jaunt to the coast. Find out more about things to do in the area <a url='/activities'>here</a>.
{% endblock %}

{% block property_transport %} 
TThere is off-street parking at the front of the property.
<br>
Appledore has a train station which is a little away from the village centre with trains towards Ashford and Brighton. Ashford International offers services to London in 40 minutes.<br>
Bus services are available to XXX.  <br>
There are a number of local taxi companies, details of these can be found here.

{% endblock %}