{% extends "property_template.html" %}

{% block header_img %} street-cover
{% endblock %}



{% set title="65 the Street" %}

{% set description="Get a taste of village life with this semi-detached home right in the middle of the picturesque village of Appledore. Small but perfectly formed, its main street lined with period buildings has everything you need; a village shop, tearoom and local pub with hops hanging from the rafters.<br><br>
The property has one double bedroom, one twin and a single, a fully-equipped kitchen, bathroom and a spacious living room.<br><br>
65 the Street a homely feel which makes them ideal for a longer stay. Perhaps while moving home. You can find out more about options for long lets <a href='/book/''>here</a>.


65 the Street a homely feel which makes them ideal for a longer stay. Perhaps while moving home. You can find out more about options for long lets <a>here</a>."

 %}

{% set sleeps=" 
5"%}

{% set beds="
3 – one double, one twin and a single
"%}

{% set amenities="<li>Garden</li><li>Fully equipped kitchen</li><li>Washing machine</li><li>Television</li><li>Hairdryer</li><li>Bath</li>"
%}

{% set location="The property is situated on the main street in the peaceful village of Appledore with a village shop nearby and traditional pub. The Black Lion." %}
{% set shop="100 yards" %}
{% set pub="200 yards" %}
{% set coast="11mi" %}


{% set transport="There is off-street parking at the front of the property.
<br><br>
<a href='http://www.nationalrail.co.uk/stations_destinations/APD.aspx'>Appledore has a train station</a> which is a little away from the village centre with trains towards Ashford and Brighton. Ashford International offers services to London in 40 minutes.<br><br>
<a href='https://bustimes.org.uk/localities/E0047077'>Bus services are available to Ashford and Tenterden.</a>  <br>"%}

{% set gallery={"img/65street/65street_external3.jpg":"A semi-detached property on the main street of the lovely village of Appledore", 'img/65street/65street_closeup.jpg':'', 'img/65street/appledore.jpg':'The village of Appledore'} %}