{% extends "property_template.html" %}

{% block header_img %} street-cover
{% endblock %}



{% block title %} 
65 the Street - Ashby Farms
{% endblock %}

{% set title="65 the Street" %}

{% block property_description %} 
Get a taste of village life with this semi-detached home right in the middle of the picturesque village of Appledore. Small but perfectly formed, its main street lined with period buildings has everything you need; a village shop, tearoom and local pub with hops hanging from the rafters.<br>
The property has one double bedroom, one twin and a single, a fully-equipped kitchen, bathroom and a spacious living room.<br>
65 the Street a homely feel which makes them ideal for a longer stay. Perhaps while moving home. You can find out more about options for long lets <a>here</a>.

{% endblock %}

{% set sleeps=" 
5"%}

{% set beds="
3 – one double, one twin and a single
"%}

{% set amenities="•	Garden
•	Fully equipped kitchen
•	Washing machine
•	Television
•	Hairdryer?
•	Bath"
%}

{% set location="The property is situated on the main street in the peaceful village of Appledore with a village shop nearby and traditional pub. The Black Lion." %}
{% set shop="xxx" %}
{% set pub="xxx" %}
{% set coast="xxx" %}


{% set transport="There is off-street parking at the front of the property.
<br>
Appledore has a train station which is a little away from the village centre with trains towards Ashford and Brighton. Ashford International offers services to London in 40 minutes.<br>
Bus services are available to XXX.  <br>"%}

{% set gallery={'img/65street/65street.jpg':''} %}