{% extends "layout.html" %}

{% set title="Things to see and do: family activities, outdoors, history and culture" %}
{% block header %}{% endblock %}
{% block content %}
<div class="container">
	<p class='lead'>The surrounding area of Kent and East Sussex offers something for everyone with beaches and beautiful countryside to explore, historic towns such as Rye and Canterbury and a great food and drink culture with some of the top vineyards in the country on your doorstep. <p>
	<p>You can find more ideas of things to do and see what we are getting up to on <a href="http://www.facebook.com/ashbyfarmsholidays">Facebook</a>, <a href="http://www.instagram.com/ashbyfarms">Instagram</a>, <a href="http://www.twitter.com/ashbyfarms">Twitter</a> and <a href='/blog'>our blog</a>.</p>

	<div id='activities' class='row text-xs-center'>
		<div class='col-md-6'>
			<div class='card'>
				<img class='img-fluid card-img' src={{url_for('static', filename='img/fairfield_church.jpg')}} alt='Fairfield church'>
				<div class='card-img-overlay'>
					<div class='card-block'>
						<h4 class='card-title'>Get Outdoors</h4>
					</div>
					<ul class="list-group list-group-flush">
						<li class='list-group-item'><h6>Beaches</h6><p>Explore the dunes of <a href='https://en.wikipedia.org/wiki/Camber_Sands'>Camber Sands</a> and <a href='http://www.dungeness.org.uk/'>Dungeness</a>, England's only desert</p></li>
						<li class='list-group-item'><h6>Cycling</h6><p>Hop on your bike to explore the area. Why not try ones of <a href='http://www.rmcp.co.uk/cycling.html'>these routes</a>?</p></li>
						<li class='list-group-item'><h6>Hiking</h6><p>The marsh and downs are <a href='http://www.visitkent.co.uk/things-to-do/active-and-outdoors/walks-in-kent'>fantastic for hikers and walkers</a></p></li>
						<li class='list-group-item'><h6>Fishing</h6><p><a href='/fish'>In our lakes</a></p></li>
						<li class='list-group-item'><h6>Shooting</h6><p><a href='/shoot'>On our farmland</a></p></li>
					</ul>
				</div>
			</div>
		</div>

		<div class='col-md-6'>
			<div class='card'>
			<img class='img-fluid card-img' src={{url_for('static', filename='img/family_1.jpeg')}} alt='Family silhouette'>
				<div class='card-img-overlay'>
					<div class='card-block'>
						<h3 class='card-title'>Family</h3>
					</div>
					<ul class="list-group list-group-flush">
						<li class='list-group-item'><h6>Camber Sands</h6><p>These <a href='https://www.tripadvisor.co.uk/Attraction_Review-g1752567-d2248776-Reviews-Camber_Sands-Camber_Rye_East_Sussex_England.html'>sandy beaches</a> are a perfect spot to enjoy good weather and practice your sandcastle building.</p></li>
						<li class='list-group-item'><h6>Port Lymne</h6><p>Lions, tigers, elephants and more... <a href='http://www.aspinallfoundation.org/port-lympne'>Head here</a> for a safari experience without leaving our shores.</p></li>
						<li class='list-group-item'><h6>Miniature Steam Train</h6><p>The minature <a href='http://www.rhdr.org.uk/'>steam train to Romney, Hythe and Dymchurch</a> is a slice of history with a novel twist.</p></li>
						<li class='list-group-item'><h6>Rare Breeds Centre</h6><p><a href='http://www.rarebreeds.org.uk/'>Meet unusual breeds</a> of all your favourite farm animals.</p></li>
					</ul>
				</div>
			</div>
		</div>

		<div class='col-md-6'>
			<div class='card'>
			<img class='img-fluid card-img' src={{url_for('static', filename='img/grapes.jpeg')}} alt='Grapes'>
				<div class='card-img-overlay'>
					<div class='card-block'>
						<h3 class='card-title'>Foodie</h3>
					</div>
					<ul class="list-group list-group-flush">
						<li class='list-group-item'><h6>Vineyards</h6><p>The rock of the champagne region runs through Kent and East Sussex allowing us to produce some excellent wines. See for yourself at vineyards such as <a href='https://www.gusbourne.com/'>Gusbourne</a> and <a href='https://www.chapeldown.com/'>Chapel Down</a>.</p></li>
						<li class='list-group-item'><h6>Breweries</h6><p>Kent is famous for its hops, why not try some of our real ale at <a href='http://www.kentcamra.org.uk/kent/breweries'>these local breweries</a>.</p></li>
						<li class='list-group-item'><h6>Kentish Fruit</h6><p>This isn't called the Garden of England for nothing. In the summer there are lots of farms that you can visit to <a href='http://www.pickyourownfarms.org.uk/Kent_pyo.php'>pick your own</a>.</p></li>
						<li class='list-group-item'><h6>Whitstable Oysters</h6><p>Just 45 minutes away <a href='http://www.seewhitstable.com/'>Whitstable</a> offers some of the finest seafood in the country. <a href='http://whitstableoysterfestival.co.uk/'>It even has a festival devoted to oysters every July</a>.</li>
						<li class='list-group-item'><h6>Rye Scallops</h6><p>Rye is <a href='https://www.google.co.uk/maps/dir/Ashby+Farms+Ltd.,+Appledore+Road,+Kenardington/Rye/@51.0060304,0.7736407,12z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47dedef2f340cab9:0x122584db447603de!2m2!1d0.812811!2d51.061665!1m5!1m1!1s0x47dee0253a3551b9:0x1d196c33cfd9fa40!2m2!1d0.73726!2d50.949708'>very easy to get</a> to and is another seafood-lover's paradise. It has a <a href='http://scallop.org.uk/'>scallop festival in February</a> every year.</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class='col-md-6'>
			<div class='card'>
			<img class='img-fluid card-img' src={{url_for('static', filename='img/canterbury_cathedral.jpg')}} alt='Morris dancing at Canterbury Catherdral'>
				<div class='card-img-overlay'>
					<div class='card-block'>
						<h3 class='card-title'>Culture and History</h3>
					</div>
					<ul class="list-group list-group-flush">
						<li class='list-group-item'><h6>Canterbury</h6><p>Famed for its <a href="http://www.canterbury-cathedral.org/">Cathedral</a> and as a destination for pilgrimage, most famously in <a href="https://www.canterburytales.org.uk/">The Canterbury Tales</a> this is a fantastic city to visit on your trip</a></p></li>
						<li class='list-group-item'><h6>Smugglers Caves</h6><p>Learn about the role of Romney Marsh and the Kent and Sussex coast in smuggling at the <a href="http://www.smugglersadventure.co.uk/">Smugglers Caves</a> in Hastings.</p></li>
						<li class='list-group-item'><h6>Sissinghurst</h6><p><a href="https://www.nationaltrust.org.uk/sissinghurst-castle-garden">This property</a> has a rich and varied history, not to mention beautiful gardens to explore.</p></li>
						<li class='list-group-item'><h6>Dover Castle</h6><p>From Tudor times through to the tunnels used during WW2 <a href='http://www.english-heritage.org.uk/visit/places/dover-castle/?gclid=CLzE4Iaph9ACFRE6GwodgdULFA&gclsrc=aw.ds'>this castle</a>, known as 'The Key to England', has something to interest any history buff.</p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}