{% extends "layout.html" %}

{% block title %}Things to see and do{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div id="about" class="container">
	<h3>The surrounding area of Kent and East Sussex offers something for everyone with beaches and beautiful countryside to explore, historic towns such as Rye and Canterbury and a great food and drink culture with some of the top vineyards in the country on your doorstep. </h3>
	<div class='row'>
		<div class='col-sm-6'>
			<h4>Get Outdoors</h4>
			<br>Beaches	 - Camber Sands and Dungeoness
			<br>Cycling – cycle tour website
			<br>Hiking – link to good walks: Romney Marsh and Downs
			<br>Fishing and Shooting
		</div>
		<div class='col-sm-6'>
			<h4>Family</h4>
			<br>Camber Sands
			<br>Port Lymne
			<br>Mini Steam Train
			<br>Rare Breeds Centre
		</div>
		<div class='col-sm-6'>
			<h4>Foodie</h4>
			<br>Vineyards
			<br>Breweries
			<br>Kentish Fruit
			<br>Whitstable Oysters
			<br>Rye Scallops
		</div>
		<div class='col-sm-6'>
			<h4>Culture/History</h4>
			<br>Canterbury Catherdral
			<br>Smugglers Caves
			<br>Sissinghurst
			<br>Dover Castle
		</div>
	</div>
</div>
{% endblock %}