{% extends "layout.html" %}

{% set title="Booking Conditions" %}
{% block content %}
<h1>Conditions of Hire</h1>
ASHBY FARMS Ltd., herein referred to as The Owner, hereby notifies you, The Hirer,
that reservations are accepted under the following conditions:-
Modifications and Descriptions. Every effort has been made to ensure that holiday
home descriptions contained in the current brochure are correct.
The Owner reserves the right to make modifications to the holiday home specification
that are considered necessary in the light of operating requirements. In the interest of
continued improvement, The Owner reserves the right to alter or delete furniture, amenities
or facilities, either advertised or previously available, without prior notice.
Hirer's Responsibilities. The Hirer is responsible for the holiday home and its
equipment during the period of hire and is expected to take all reasonable care of it. The
holiday home is let fully furnished. Bed linen and towels are extra. You are advised to check
on arrival and report any shortcomings, damage or missing items immediately to The Owner
or his representative whose telephone number appears on your booking confirmation, so that
the matter can be remedied for you. No claim can be considered for such matters not so
notified.
The Hirer undertakes to report and pay for any damage caused to the holiday home or for
equipment lost, damaged, broken or stolen during his occupancy of the holiday home.
Unsuitable substitutes are not accepted. All the equipment, utensils, etc. must be left in a
clean condition at the end of the hire period. All rubbish, must be disposed of according to
the instructions displayed in the property. There may be a charge if these are not
complied with.
Hirer's Property.. The Owner does not accept any liability for loss of, or damage to,
personal effects, baggage, or any other item belonging to the hirer or to any member of the
hirer’s party, except in so far as the loss or damage arises from a substantial defect or damage
existing in the holiday home or its surrounds and which was known or should have been
known to The Owner but for his negligence.
A Security Deposit (see price list) is always required at the time of booking.
Deductions may be made from this for any damage done to the holiday home or its
furnishings, bed linen or towels not accounted for, the holiday home left dirty, or rubbish not
left as above. Your Security Deposit (less any deductions) will be returned to you by cheque
or credit card within two weeks of your departure.
The Hirer should send the Security Deposit together with the enclosed booking form
duly completed to:-
Ashby Farms Ltd.
Place Farm
Kenardington
Ashford,
Kent. TN26 2LZ
For further information please 'phone 01233 73 33 32

{% endblock %}