A security deposit equal to one month’s rental is required to secure your booking. This will be returned to you after your
stay, less any deductions for breakages etc.
The rental charges above are a guide. If your stay spans more than one charging period the rate is calculated to reflect the
proportion of each period, from this the monthly rental is derived for the length of your expected stay. Should you decide
to leave earlier than you originally planned (at least two weeks notice is required) the rate is recalculated to reflect your
actual length of stay and any difference is adjusted via in your returned security deposit should there be any further
money outstanding it will be invoiced to you. This flexibility is particularly appreciated by people who are between
house moves.
There is an extra charge for more than four persons per property (see booking form).
Provisional bookings are accepted by post or telephone. These are only confirmed when we receive the completed
booking form together with the security deposit. If the letting is due to commence within four weeks from the date of
booking, payment for the first month and the security deposit must be included with the booking form.
Bed Linen
1 underblanket, 1 duvet and 2 pillows are provided free with each bed, there will be a charge for cleaning these if they
are dirty after your stay.
In addition We provide, for an extra charge of £15.50 per double bed and £10.50 per single bed. Prices are for each
linen change. Each bed set includes 1 sheet, 1 duvet cover, 2 pillow cases, 1 hand towel, 1 bath towel and 1 tea towel.
Arrival and departure times
Monthly Rentals are from 2 p.m. on the arrival date to 10 a.m. on the departure date. Tenants are asked to arrive
after 2 p.m. on the day of their arrival and leave before 10 a.m. on the day of their departure.
Arrivals and Departures outside of these times can sometimes be arranged for an extra charge. Late departures will incur
an extra charge.
FISHING
For an extra charge fishing is available in 2 private lakes (2 acres each) all the year round.
The Lakes contain Bream, Gudgeon, Roach, Rudd, Tench, Common and Mirror Carp (up to 35 lb.), Perch (up to 4 3/4
lb.). For the benefit both of fish and fishermen, we restrict the number of people allowed to fish at any one time.
Seasonal fishing (between 16th. June to 15th. March) is also available in streams and dykes on our farmland, where there
is also some Pike.
ROUGH SHOOTING
Please phone the farm office for further details of rough shooting on our farms, which is available to residents, for an
extra charge.
MAINTENANCE & SERVICING
Please note:- We have a full time maintenance staff and should any problems of this nature arise we respond faster than
most letting agencies; also at no extra cost a cleaner will visit the property once a week to ensure that the property does
not deteriorate.