{% extends 'layout.html' %}

{% block title %}Booking{% endblock %}

{% block content %}
<div class='container'>
<h3 class='display-1'> Provisional bookings can be made by phone or by email. These are only confirmed when we receive the completed
booking form together with the security deposit.
</h3>
<h4>Weekly bookings</h4> <h3>Weekly bookings run from 2 p.m. Saturday to 10 a.m. Saturday.</h3>
<h4>Short Breaks:-</h4>
<h3>Short breaks are from 2 p.m. Friday to 10 a.m. Monday or from 2 p.m. Monday to 10 a.m. Friday 
Exceptions:- Holidays commencing on days other than the above are often possible. Please don't hesitate to ask if you would like your holiday to start some other day.</h3>
<h2>Payment</h2>
<h3>We accept</h3>
<h3> If the holiday is due to commence within four weeks from the date of booking, payment in full must be included with the booking form. residents</h3>
<h4>Check in and check out</h4>
<h3>Visitors are asked to arrive after 2 p.m. on the day of their arrival and leave before 10 a.m. on the day of their departure.</h3>
</div>
<!-- make dropdown containers for booking restrictions etc -->

{% endblock %}