{% extends 'layout.html' %}

{% block content %}
<div id='booking' role='tabulist' aria-multiselectable='true'>
	<div class="panel panel-default">
		<div class='panel-heading' role='tab' id='{% block panel1_title %}Booking-Periods
		{% endblock %}'></div>
		<h4 class='panel-title'>
			<a data-toggle='collapse' data-parent='booking' href="#holiday-booking-period-copy" aria-expanded='true' aria-controls='Holiday booking period information'>
			Booking periods
			</a>
		</h4>
		</div>
		<div id='holiday-booking-period-copy' class='panel-collapse collapse in' role='tabpanel' aria-labeledby='Booking-Periods' >
			<h4>Weekly bookings</h4> <h3>Weekly bookings run from 2 p.m. Saturday to 10 a.m. Saturday.</h3>
			<h4>Short Breaks:-</h4>
			<h3>Short breaks are from 2 p.m. Friday to 10 a.m. Monday or from 2 p.m. Monday to 10 a.m. Friday 
			Exceptions:- Holidays commencing on days other than the above are often possible. Please don't hesitate to ask if you would like your holiday to start some other day.</h3>
		</div>



m
There is an extra charge for more than four persons per property (see booking form). If you wish to stay for more than four weeks,
please ask for Ashby Farms Long Let Price List.
Senior Citizens:- with the exception of the weeks either side of a public holiday and the period between 14 June to 6 September,
Senior Citizens may deduct 10% discount.
Your booking is confirmed when you have paid the £50 security deposit. Provisional bookings are accepted by post or
telephone. These are only confirmed when we receive the completed booking form together with the security deposit.
We must receive full payment for your holiday at least four weeks before your arrival. If the holiday is due to commence
less than four weeks from the date of booking, full payment plus the security deposit must be included with the booking form.
Arrival and departure times
Weekly bookings are from 2 p.m. Saturday to 10 a.m. Saturday.
Short Breaks are from 2 p.m. Friday to 10 a.m. Monday or from 2 p.m. Monday to 10 a.m. Friday.
We regret that sometimes it is not possible to confirm the dates for Short Breaks more than 7 to 14 days in advance.
Visitors are asked to arrive after 2 p.m. on the day of their arrival and leave before 10 a.m. on the day of their departure.
Bed Linen
1 underblanket, 1 duvet and 2 pillows are provided free with each bed, there will be a charge for cleaning these if they are dirty
after your stay. We provide, for an extra charge of £15.50 per double bed and £10.50 per single bed.
Each bed set includes 1 sheet, 1 duvet cover, 2 pillow cases, 1 hand towel, 1 bath towel and 1 tea towel.
FISHING
Fishing is available in 2 private lakes (2 acres each) all the year round. The Lakes contain Bream, Gudgeon, Roach, Rudd,
Tench (up to 5 lb.), Common and Mirror Carp (up to 36 lb.), Perch (up to 4 3/4 lb.).
Seasonal fishing (between 16th. June to 15th. March) is also available in streams and dykes on our farmland, where there is also
some Pike. For the benefit both of fish and fishermen, we restrict the number of people allowed to fish at any one time.
All fish caught must be returned to the water alive and unharmed immediately after capture.
Residents are not charged for fishing for during these periods
During the 12 months after your holiday, with the exception of weekends and bank-holidays, you are
entitled to fish in our waters (subject to permits being available).
ROUGH SHOOTING
Rough shooting on our farms (not in the woods around Fisherman's Lodge), is available to residents.
After your holiday rough shooting is generally available for an extra charge of £24 per gun per day.

</div>


{% endblock %}