<form action="https://www.firenet.co.uk/cgi-bin/formmail.asp" method="post">

<input type="hidden" name="fromaddress" value="formmail@firenet.uk.net"><!-- valid send address for server -->

<input type="hidden" name="recipient" value="info@ashbyfarms.com"><!-- email to send to -->

<input type="hidden" name="subject" value="UK Brochure Request etc.">



<input type="hidden" name="redirect" value="http://www.ashbyfarms.com/thanks.html">

<!-- <input type=hidden name="required" value="Title,firstname,surname,address1,town,county,postcode,fromname"> -->


<table width="100%" border="0" cellpadding="3" bgcolor="White">
<tbody><tr>
	<td align="left" valign="baseline">			
	<b><font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="+2" color="#008000">Title</font><font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="5" color="#FF0000">&nbsp;*&nbsp;</font><br></b>
	</td>
	<td align="left"><font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="3" color="Green">

   
	<select name="Title">

	<option value="mr" selected="">Mr.</option>
    <option value="mrs">Mrs.</option>
    <option value="miss">Miss.</option>
    <option value="ms">Ms.</option>
	<option value="dr">Dr.</option>
	<option value="professor">Professor</option>
    </select></font>
	</td>
	
</tr>
<tr>
	<td align="left">
	<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="3" color="Green">
	<b>Other Title<br></b></font>
	</td>
	<td>
	<input type="text" name="other_title" size="10"><br>
	</td>
</tr>
<tr>
	<td align="left">
	<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="+2" color="Green">
	<b>First Names and/or Initials<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="5" color="#FF0000">&nbsp;*&nbsp;</font><br></b></font>
	</td>
	<td align="left"> 
	<input type="text" name="firstname" size="24">Required<br>
	</td>
</tr>
<tr>
	<td align="left"> 
	<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="+2" color="Green"><b>Surname/Family Name<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="5" color="#FF0000">&nbsp;*&nbsp;</font><br></b></font>
	</td>
	<td align="left">
	<input type="text" name="surname" size="26">Required<br>
	</td>
</tr>
<tr>
	<td valign="top" align="left">
	<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="+2" color="Green"><b>Address House + Street<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="5" color="#FF0000">&nbsp;*&nbsp;</font><br></b></font>
	</td>
	<td width="200" height="40" align="LEFT">
	<input type="text" name="address1">Required<br>
	</td>
</tr>
<tr>
	<td align="LEFT" valign="TOP">
	<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="+2" color="Green"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Town<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="5" color="#FF0000">&nbsp;*&nbsp;</font><br></b></font>
	</td>
	<td width="200" height="40" align="LEFT">
	<input type="text" name="town">Required<br>
	</td>
</tr>
<tr>
	<td align="LEFT" valign="TOP">
	<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="+2" color="Green"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;County<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="5" color="#FF0000">&nbsp;*&nbsp;</font><br></b></font>
	</td>
	<td width="200" height="40" align="LEFT">
	<input type="text" name="county">Required<br>
	</td>
</tr>					
<tr>
	<td align="LEFT" valign="TOP">
	<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="+2" color="Green"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Post&nbsp;Code (Zip)<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="5" color="#FF0000">&nbsp;*&nbsp;</font><br></b>
</font>
	</td>			
	<td width="200" height="40" align="LEFT">
	<input type="text" name="postcode">Required<br>
	</td>
</tr>
<tr>
	<td align="left">
	<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="+2" color="Green"><b>Telephone<br></b></font>
	</td>
	<td align="left">
	<input type="text" name="tel" size="20"><br>
	</td>
</tr>
<tr>
	<td align="left">
	<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="+2" color="Green"><b>Fax<br></b></font>
	</td>
	<td align="left">
	<input type="text" name="fax" size="20"><br>
	</td>
</tr>
<tr>
	<td align="LEFT">
	<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="+2" color="Green"><b>Your email address<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="5" color="#FF0000">&nbsp;*&nbsp;</font><br></b></font>
	</td>
	<td align="left">
	<input type="text" name="fromname" size="48">Required<br>
	</td>
</tr>
<tr>
	<td valign="top" align="left">
	<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="+2" color="Green"><b>Do you have a specific enquiry?<br></b></font>
	</td>
	<td align="left">
	<textarea name="specificenquiry" rows="5" cols="40"></textarea><br>
	</td>
</tr>
<tr>
	<td align="left">
	<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="3" color="Green"><b>Would you like a copy of our Colour Brochure?<br></b></font>
	</td>
	<td align="LEFT"> 
	<input type="Checkbox" name="Brochure_yes" value="yes"><b><font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="+2" color="Green">Click for Yes</font></b>
	</td>
</tr>




<tr align="left" valign="baseline">
	<td><font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="+2" color="Green">Click to Submit:</font></td> 
	<td><input type="Submit" name="Submit:" value="Submit"></td>
</tr>
	<tr><td><font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="+2" color="Green">Click to Reset Form</font></td> 
	<td><input type="reset" value="Reset!"></td></tr>
	

      <tr bgcolor="Green" nowrap="">
            <td width="100%" height="34%" colspan="10" bgcolor="#0066CC" dir="ltr" lang="en">            
			<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" color="#FFFFFF" size="3"><b>
            <marquee behavior="scroll" align="middle" direction="left" bgcolor="Green" loop="" dir="ltr" lang="en" style="background-color: green;">Thank you for visiting The Ashby Farms  Web Site...</marquee>
            </b></font>
            </td>
          </tr>
	</tbody></table>
<p>
	<font face="Garamond,'Times New Roman','Times New Roman',Times,serif,serif" size="+2" color="Green"><a href="index.html" target="_parent" title="Return to Ashby Farms">Return to Ashby Farms</a>  &nbsp;</font> 
	<a href="index.html" target="_parent"><img alt="Ashby Farms Home" src="graphics/homebutton.gif" width="57" height="46" border="0" title="Click here to go to Ashby Farms Holiday Cottages"></a>


</p></form>