{% extends 'layout.html' %}
{% block content %}

<b>May we look round the Holiday cottage before booking?</b><br>
Yes. We will be happy to show you round the Cottage of your choice.
However, we regret it is only practical for us to this by prior arrangement.  Normally an appointment can be made to view the property between 10a.m. and 2p.m. on any Saturday.
<br>

<b>Do you allow pets?</b><br>
Yes.  There is a small extra charge.

<br>

<b>Do you allow Children?</b><br>
Yes. Childen aged under 24 months go free.
<br>

<b>Is there a washing machine?</b><br>
Yes, all properties have a washing machine.

<br>

<b>Is Fishing or Shooting available for non-residents?</b><br>
Only if you have stayed in one of our properties in the last twelve months.

<br>


<b>What's the weather going to be like in August?</b><br>
If you ask the question it will rain! The forecast for the next 7 days (<strong>with temperature in degrees C</strong>)is below!

<b>Who are Ashby Farms Ltd.</b><br>
Ashby Farms Ltd. is an offshoot of a farming family that have been farming in the area for several generations.

<br>
<b>How long has Ashby Farms Ltd. been in business?</b><br>

Following the reorganisation of our farming business in the early eighties, we converted three surplus farm workers cottages and built eight Lodges.  Ashby Farms Ltd. was formed for the administration of these cottages for self catering holidays. 

{% endblock %}