{% extends "layout.html" %}
{% set title='Enquiry submitted successfully' %}
{% block head %}
{{ super() }}
<!-- Google Code for Website enquirys Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1025047782;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "dpBCCNX5o2wQ5vnj6AM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1025047782/?label=dpBCCNX5o2wQ5vnj6AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

{% endblock %}
{% block content %}
<div class="container text-xs-center" style="height: 25rem; padding-top: 10rem">
	<p class='lead'>Thank you for your enquiry. Your form has been submitted successfully and we will respond shortly.</p>
	<br>
	<a href='http://www.ashbyfarms.com'>
		<button class='btn' >Go home</button>
	</a>
</div>
{% endblock %}