{% extends "layout.html" %}

{% set title="History"%}

{% block header_img %} fields-cover
{% endblock %}

{% block content %}
<div id="about" class="container">
<p>The Ashby family has farmed in the area for generations and still operate a working farm with sheep and arable crops. In 198X Keith Ashby had the idea to diversify the family business by renting some properties for holidays so he built the fisherman’s lodges, changing practices in farming meant there were also some other houses no longer needed for agricultural worker’s accommodation which were renovated for holiday properties.</p>
<p>Today it is still a family affair with Keith still at the helm and his son and daughter both working on the farm.</p>
<h4>What we grow</h4>
<p>We have a flock of pedigree Romney ewes which are kept in a traditional extensive manner on the Romney Marsh. They are a hardy breed that spend all their time out in the fresh air eating grass.</p>
<p>We grow a variety of arable crops including wheat, barley, peas and beans. Looking after the environment and our soils is important to us so we direct drill all of our crops and as you look across our fields you will see borders around our fields full of wild flowers which provide an important habitat for birds and insects.</p>
</div>

{% endblock %}