{% extends "layout.html" %}

{% set title="History"%}

{% block header_img %} fields-cover
{% endblock %}

{% block content %}
<div id="about" class="container">
<p class='lead'>The Ashby family has farmed in the area for generations and still operate a working farm with sheep and arable crops. In 1982 Keith Ashby had the idea to diversify the family business by renting out some of the farm workers accomodation that was no longer needed. Following the success of these he built Fisherman's Lodges which were designed and constructed on the farm.</p>
<p>Today it is still a family affair with Keith still at the helm and his son and daughter both working on the farm.</p>
<h4>What we grow</h4>
<p>We have a flock of Romney ewes which are kept in a traditional extensive manner on the Romney Marsh. They are a hardy breed that spend all their time out in the fresh air eating grass.</p>
<p>We grow a variety of arable crops including wheat, barley, oil seed rape, peas and beans. Looking after the environment and our soils is important to us so we direct drill all of our crops and as you look across our fields you will see borders around our fields full of wild flowers which provide an important habitat for birds and insects.</p>
</div>

{% endblock %}