{% extends "property_template.html" %}

<!-- Carousel img -->
{% block carousel_img1 %}  <img class='img1' alt="Dining room"/>{% endblock %}

{% block carousel_caption1 %} <p>Dining room</p>{% endblock %}

{% block header_img %} lodges-cover
{% endblock %}

{% set gallery = {'img/lodges/dining_area.jpg': 'Dining area with seating for 6', 'img/lodges/living_area.jpg': 'Spacious living area with two settees and television', 'img/lodges/porch.jpg': 'Each lodge has its own porch area accessed by french windows', 'img/lodges/kitchen.jpg': 'Well equipped galley kitchen','img/dscf5207.jpg':''} %}

<!-- Details -->

{% set title="The Lodges" %}

{% set description= "8 Scandanavian-inspired lodges nestled on the banks of two lakes offer an idyllic location for a getaway whether you are looking for a fishing break or a base for exploring the local area. The properties are surrounded by woodland offering peace and seclusion and are just a few steps away from the fishing lakes.
<br> <br>
Each lodge has one double and two twin rooms, a fully-equipped kitchen, bathroom and a spacious living room with large French windows looking out over your personal lakeside terrace."%}


{% set sleeps=" 
6 – multiple bookings are available for groups, you can find out more about this <a url='/properties/#group-booking'>here</a>"%}

{% set beds="
3 – one double and two twin"%}

{% set amenities="<li>Access to private fishing lakes</li><li>Fully equiped kitchen</li><li> Washing machine</li><li>Television</li><li>Hairdryer</li><li>Bath</li>
"%}


{% set location = "The nearest village is Woodchurch which is 5 minutes away by car or a 30 minute walk." %}
{% set shop="1.4mi" %}
{% set pub="1.6mi" %}
{% set coast="13mi" %}


{% set transport="There is a carpark with an allocated space per property plus an overflow carpark. 
<br><br>
The nearest train station is <a href='http://www.nationalrail.co.uk/stations_destinations/APD.aspx'>Appledore</a> which has trains towards Ashford and Brighton. Ashford International offers services to London in 40 minutes.
<br><br>
Bus services are available from <a href='https://bustimes.org.uk/localities/E0047116'>Woodchurch to Ashford and Tenterden</a>." %}

{% set heating="The properties have metered gas heating which must be paid for with 50p coins." %}