{% extends "property_template.html" %}

<!-- Carousel img -->
{% block carousel_img1 %}  <img class='img1' alt="Dining room"/>{% endblock %}

{% block carousel_caption1 %} <p>Dining room</p>{% endblock %}

{% block header_img %} lodges-cover
{% endblock %}

{% set gallery = {'img/Lodges/dining_area.jpg': 'caption 1', 'img/Lodges/living_area.jpg': 'caption 2', 'img/Lodges/porch.jpg': 'caption3'} %}

<!-- Details -->

{% set title="The Lodges" %}

{% set description= "8 Scandanavian-inspired lodges nestled on the banks of two manmade lakes offer an idyllic location for a getaway whether you are looking for a fishing break or a base for exploring the local area. The properties are surrounded by woodland offering peace and seclusion.
<br> <br>
Each lodge has one double and two twin rooms, a fully-equipped kitchen, bathroom and a spacious living room with large French windows looking out over your personal lakeside terrace."%}


{% set sleeps=" 
6 – multiple bookings are available for groups, you can find out more about this <a url='#'>here</a>"%}

{% set beds="
3 – one double and two twin"%}

{% set amenities="
Access to private fishing lakes;Fully equiped kitchen, Washing machine,
•	Television
•	Hairdryer?
•	Bath
"%}


{% set location = "The nearest village is Woodchurch which is 5 minutes away by car or a XX minute walk." %}
{% set shop="xxx" %}
{% set pub="xxx" %}
{% set coast="xxx" %}


{% set transport="There is a carpark with an allocated space per property plus an overflow carpark. 
<br>
The nearest train station is Appledore which has trains towards Ashford and Brighton. Ashford International offers services to London in 40 minutes.
<br>
Bus services are available from Woodchurch to XX and XX." %}