{% extends "property_template.html" %}

{% block header_img %}old-farm-cover
{% endblock %}

{% set title="Old Farm Flat" %}

{% block property_description %} 
This flat within a Grade II listed building gives you a chance to see authentic farm life as it is situated on a working farm among fields on the Romney Marsh.<br>
The property has recently been refurbished and offers a great spot for a couple on solo traveller. It has one double bedroom, a fully-equipped kitchen, bathroom and a spacious living room.<br>
Old Farm offers a homely feel which makes them ideal for a longer stay. Perhaps while moving home. You can find out more about options for long lets <a href='/book/'>here</a>.

{% endblock %}

{% set sleeps=" 
2"%}

{% set beds="
1 double"%}

{% set amenities="<li>Garden</li><li>Fully equipped kitchen</li><li>Washing machine</li><li>Television</li><li>Hairdryer</li><li>Bath</li>"
%}

{% set locaion="A truly rural spot on the Romney Marsh" %}
{% set shop="3.2mi" %}
{% set pub="3.2mi" %}
{% set coast="8mi" %}

{% set transport="The property offers plenty of space for parking.<br><br><a href='http://www.nationalrail.co.uk/stations_destinations/APD.aspx'>Appledore has a train station</a> which is a little away from the village centre with trains towards Ashford and Brighton. Ashford International offers services to London in 40 minutes.<br><br>Bus services are available from Appledore to <a href='https://bustimes.org.uk/localities/E0047077'>Ashford and Tenterden.</a>" %}

{% set gallery = {'img/oldfarm/oldfarm_front.jpg':'A flat within a Grade II listed building', 'img/oldfarm/oldfarm_fields.jpg':'The building is set among fields away from the main road down a track', 'img/oldfarm/dining_area.jpg': 'Dining area with seating for four.', 'img/oldfarm/living_room_1.jpg': 'Living room with fireplace', 'img/oldfarm/living_room_2.jpg': 'Living room', 'img/oldfarm/kitchen1.jpg':'Kitchen', 'img/oldfarm/bedroom1.jpg':'Bedroom with double bed', 'img/oldfarm/bedroom2.jpg':'Bedroom'} %}