{% extends "property_template.html" %}

{% block property_img1 %}
"{{url_for('static', filename="img/Lodges/living_area.jpg") }}"
{% endblock %}

{% block property_img2 %}
"{{url_for('static', filename="img/Lodges/dining_area.jpg") }}"
{% endblock %}

{% block header_img %}old-farm-cover
{% endblock %}

{% block title %} 
Old Farm - Ashby Farms
{% endblock %}

{% set title="Old Farm" %}

{% block property_description %} 
This flat within a Grade II listed building gives you a chance to see authentic farm life as it is situated on a working farm among fields on the Romney Marsh.<br>
The property has recently been refurbished and offers a great spot for a couple on solo traveller. It has one double bedroom, a fully-equipped kitchen, bathroom and a spacious living room.<br>
Old Farm offers a homely feel which makes them ideal for a longer stay. Perhaps while moving home. You can find out more about options for long lets <a>here</a>.

{% endblock %}

{% set sleeps=" 
2"%}

{% set beds="
1 double"%}

{% set amenities="
•	Garden
•	Fully equipped kitchen
•	Washing machine
•	Television
•	Hairdryer?
•	Bath"
%}

{% set locaion="A truly rural spot on the Romney Marsh" %}
{% set shop="xxx" %}
{% set pub="xxx" %}
{% set coast="xxx" %}

{% set transport="The property offers plenty of space for parking.
<br>
Appledore has a train station which is a little away from the village centre with trains towards Ashford and Brighton. Ashford International offers services to London in 40 minutes.<br>
Bus services are available from Appledore to XXX." %}