{% extends "property_template.html" %}

{% block property_img1 %}
"{{url_for('static', filename="img/Lodges/living_area.jpg") }}"
{% endblock %}

{% block property_img2 %}
"{{url_for('static', filename="img/Lodges/dining_area.jpg") }}"
{% endblock %}

{% block header_img %}old-farm-cover
{% endblock %}

{% block title %} 
Old Farm - Ashby Farms
{% endblock %}

{% block property_name %}
Old Farm
{% endblock %}

{% block property_description %} 
This flat within a Grade II listed building gives you a chance to see authentic farm life as it is situated on a working farm among fields on the Romney Marsh.<br>
The property has recently been refurbished and offers a great spot for a couple on solo traveller. It has one double bedroom, a fully-equipped kitchen, bathroom and a spacious living room.<br>
Old Farm offers a homely feel which makes them ideal for a longer stay. Perhaps while moving home. You can find out more about options for long lets <a>here</a>.

{% endblock %}

{% block property_sleeps %} 
2
{% endblock %}

{% block property_beds %}
1 double
{% endblock %}

{% block amenities %}
•	Garden
•	Fully equipped kitchen
•	Washing machine
•	Television
•	Hairdryer?
•	Bath

{% endblock %}

{% block property_location %}
: A truly rural spot on the Romney Marsh, the nearest Village is XX which is X miles away.  It is a perfect base for exploring the beautiful Kent and East Sussex countryside, exploring the Cinque Port town of Rye or a jaunt to the coast. Find out more about things to do in the area <a url='/activities'>here</a>.
{% endblock %}

{% block property_transport %} 
The property offers plenty of space for parking.
<br>
Appledore has a train station which is a little away from the village centre with trains towards Ashford and Brighton. Ashford International offers services to London in 40 minutes.<br>
Bus services are available from Appledore to XXX.  <br>
There are a number of local taxi companies, details of these can be found here.

{% endblock %}