{% extends "layout.html" %}

{% block head %}
{{ super() }}
<!-- lightbox css -->
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/lightgallery.css')}}" />

<!-- justified gallery css -->
<link type="text/css" rel='stylesheet' href="{{url_for('static', filename='css/justifiedGallery.min.css')}}">

{% endblock %}

{% block content %}

<div id="about" class="container">
	<div class='page-header'><h2>{{title}}</h2></div>
	<div>
		<p class='lead'>{{description|safe}}
		</p>
	</div>

	<div class='row'>
	<div class='col-md-6'>
	<p><h4>Sleeps</h4> {{sleeps|safe}}</p>
	<h4>Bedrooms</h4><p>{{beds|safe}}</p>
	<h4>Amenities</h4>
	<ul>{{amenities|safe}}</ul>
	<h4>Location</h4>
	<p> {{location|e|safe}}</p>
	<p>It is a perfect base for exploring the beautiful Kent and East Sussex countryside, exploring the Cinque Port town of Rye or a jaunt to the coast. Find out more about things to do in the area <a url='/activities/'>here</a>.</p>
	<span class='text-xs-center'><p><b>Shop: </b>{{shop|safe}}   <b>Pub: </b>{{pub|safe}}   <b>Coast: </b>{{coast|safe}}</p></span>
	<h4>Transport</h4>
	<p>{{transport|safe}}</p>
	<p>There are a number of local taxi companies, details of these can be found <a href='https://www.minicabit.com/ashford-taxi'>here</a>.</p>
	<h4>Heating</h4>
	<p>{{heating|safe}}</p>
	</div>


	<!-- lightgallery -->
	<!-- gallery dictionary with image url and caption for each object in list -->
	<div class='col-md-6'>
		<div id="gallery">
		{% for image, caption in gallery.items() %}
	  	  <a href="{{url_for('static', filename=image)}}" data-sub-html="<p>{{ caption }}<p>" >
	      <img src="{{url_for('static', filename=image)}}" />
	 	  </a>
	  	{% endfor %}
	 	</div>
	</div>
	</div>



		
<div class="container-fluid">
<div id='properties' class='text-xs-center text-xs-center'>
	<a href="/properties"><h1 class='display-4'>Our Properties</h1></a>
	<div class='card-deck-wrapper '>
		<div class='card-deck'>
			<div class='col-lg-4 col-md-4 col-sm-12'>
			<div class="card">
				<a href='/properties/lodges'>
					<img class="card-img img-circle img-fluid" src={{url_for('static', filename='img/lodges/lodges_main_square.jpg')}} alt="Fisherman’s Lodges">
					<div class='card-img-overlay'>
						<span class='align-middle'>
						<h1 class='card-title'>Fisherman's Lodges</h1>
						</span>
					</div>
				</a>
			</div>
			</div>			
			<div class='col-lg-4 col-md-4 col-sm-12'>
			<div class="card">
					<a href='/properties/roughlands'>
						<img class="card-img img-circle img-fluid" src={{url_for('static', filename='img/roughlands/roughlands_external_square.jpg')}} alt="Roughlands">
						<div class='card-img-overlay'>
							<h1 class='card-title'>Roughlands</h1>
						</div>
				</a>
				</div>
			</div>
			<div class='col-lg-4 col-md-4 col-sm-12'>
			<div class="card">
				<a href='/properties/springcottages'>
					<img class="card-img img-circle img-fluid" src={{url_for('static', filename='img/springcottages/spring_external_square.jpg')}} alt="Spring Cottages">
					<div class='card-img-overlay'>
						<h1 class='card-title'>Spring Cottages</h1>
					</div>
				</a>
			</div>
			</div>
		</div>
	</div>
</div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}

<!-- Lightgallery -->

<script type="text/javascript" src="{{url_for('static', filename='js/lightgallery.min.js')}}"></script>

<!-- justified gallery -->

<script type="text/javascript" src="{{url_for('static', filename='js/jquery.justifiedGallery.min.js')}}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

<!-- lightgallery plugins -->
<script src="{{url_for('static', filename='js/lg-thumbnail.min.js')}}"></script>
<script src="{{url_for('static', filename='js/lg-fullscreen.min.js')}}"></script>

 <!-- lightgallery script -->
<script type="text/javascript">
$(document).ready(function() {
    $("#gallery").lightGallery(); 
});
</script>

<!-- justified gallery script -->
<script type="text/javascript">
$("#gallery").justifiedGallery({
	rowHeight: 175,
	maxRowHeight: 250,
	lastRow: 'justify',
	margins: 10,
	captions: true
});
</script>

{% endblock %}