{% extends "layout.html" %}

{% block title %}Shooting at Ashby Farms{% endblock %}

{% block header_img %}shooting-cover{% endblock %}

{% block content %}

<div id="about" class="container">
<h3>Rough shooting is available on our farmland (not in the woods near Fisherman's Lodges) for rabbits and pigeons.</h3>
<h3>In order to shoot you must hold a valid gun permit. No equipment is provided.</h3>
<h3>After your holiday rough shooting is generally available for an extra daily charge. </h3>
<h3><strong>Clay Pigeon Shooting</strong></h3>
<h3>Organised Clay Pigeon Shooting is available on a farm 3 miles away. Alternatively, for regular customers, we can provide an area for you to set up your own traps etc.  </h3>


</div>
{% endblock %}