{% extends "layout.html" %}
{% set title="Shooting" %}

{% block title %}Shooting at Ashby Farms{% endblock %}

{% block header_img %}shooting-cover{% endblock %}

{% block content %}

<div class="container">
<h3>Rough shooting is available on our farmland (not in the woods near Fisherman's Lodges) for rabbits and pigeons.</h3>
<p class="lead">In order to shoot you must hold a valid gun license. No equipment is provided.</p>
<p class="lead">After your holiday rough shooting is generally available for an extra daily charge. </p>
<h4>Clay Pigeon Shooting</h3>
<p class="lead">Organised Clay Pigeon Shooting is available on a farm 3 miles away. Alternatively, for regular customers, we can provide an area for you to set up your own traps etc.  </p>


</div>
{% endblock %}