{% extends "property_template.html" %}


{% block header_img %}spring-cover{% endblock %}

{% set title="Spring Cottages" %}

{% block property_description %} 
Three terraced Cottages with views to Kenardington Church. The large rear garden backs onto farmland.<br><br>
Each cottage one double bedroom, one twin and a single, a fully-equipped kitchen, bathroom and a spacious living room. The living room has a wood fire, perfect for keeping cosy on colder evenings.<br><br>
The cottages offer a homely feel which makes them ideal for a longer stay. Perhaps while moving home. You can find out more about options for long lets <a href='/book/'>here</a>.

{% endblock %}

{% set gallery = {'img/springcottages/sc_external_2.jpg':'', 'img/springcottages/sp4_backgarden_1.jpg':'The backgarden offers gorgeous views accross our fields', 'img/springcottages/sp_livingroom_1.jpg':'The cozy living room has a wood fire', 'img/springcottages/sp_livingroom_2.jpg':'','img/springcottages/sp_kitchen.jpg':'The cottage has a fully equipped kitchen', 'img/springcottages/sp_dining_1.jpg':'The dining table in the kitchen seats 6', 'img/springcottages/sp_double_bed_1.jpg':'The double bedroom', 'img/springcottages/sp_double_bed_2.jpg':'Double bedroom', 'img/springcottages/sp_single_bed_1.jpg':'The bright single bedroom overlooks the fields to the rear', 'img/springcottages/sp_twin_bedroom.jpg':'Twin bedrrom', 'img/springcottages/sp_bathroom.jpg':'Bathroom'} %}

{% set sleeps=" 
5
"%}

{% set beds="
3 – one double, one twin and a single"%}

{% set amenities="
<li>Garden</li>
<li>Wood fire</li>
<li>Fully equipped kitchen</li>
<li>Washing machine</li>
<li>Television</li>
<li>Hairdryer</li>
<li>Bath</li>" %}

{% set location="The cottages are in the small village of Kenardington which is situated between the villages of Appledore and Hamstreet." %}
{% set shop="2mi" %}
{% set pub="1.5mi" %}
{% set coast="11mi" %}


{% set transport="There is off-street parking at the front of the property.
<br><br>
The nearest train station is <A HREF='http://www.nationalrail.co.uk/stations_destinations/hmt.aspx'>Hamstreet</A> which is 2 miles away and has trains towards Ashford and Brighton. Ashford International offers services to London in 40 minutes.<br><br>
<a href=https://bustimes.org.uk/localities/E0047096>Bus services are available to Ashford, Tenderden and Lydd.</a>"%}

{% set heating="The properties have metered gas heating which must be paid for with 50p coins. They also have a wood fire in the living room" %}