{% extends "property_template.html" %}

{% block property_img1 %}
"{{url_for('static', filename="img/Lodges/living_area.jpg") }}"
{% endblock %}

{% block property_img2 %}
"{{url_for('static', filename="img/Lodges/dining_area.jpg") }}"
{% endblock %}

{% block header_img %} shooting-cover
{% endblock %}

{% block title %} 
Spring Cottages - Ashby Farms
{% endblock %}

{% block property_name %}
Spring Cottages
{% endblock %}

{% block property_description %} 
Three terraced Cottages with views to Kenardington Church. The large rear garden backs onto farmland.<br>
Each cottage one double bedroom, one twin and a single, a fully-equipped kitchen, bathroom and a spacious living room.<br>
The cottages offer a homely feel which makes them ideal for a longer stay. Perhaps while moving home. You can find out more about options for long lets <a>here</a>.

{% endblock %}

{% block property_sleeps %} 
5
{% endblock %}

{% block property_beds %}
3 – one double, one twin and a single
{% endblock %}

{% block amenities %}
•	Garden
•	Fully equipped kitchen
•	Washing machine
•	Television
•	Hairdryer?
•	Bath

{% endblock %}

{% block property_location %}
The cottages are in the small village of Kenardington which is situated between the villages of Appledore and Hamstreet It is a perfect base for exploring the beautiful Kent and East Sussex countryside, exploring the Cinque Port town of Rye or a jaunt to the coast. Find out more about things to do in the area <a url='/activities'>here</a>.
{% endblock %}

{% block property_transport %} 
TThere is off-street parking at the front of the property.
<br>
The nearest train station is Hamstreet which is X miles away and has trains towards Ashford and Brighton. Ashford International offers services to London in 40 minutes.<br>
Bus services are available to XXX.  <br>
There are a number of local taxi companies, details of these can be found here.

{% endblock %}